/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

body {                /* body - or any parent wrapper */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
main {
    flex: 1;
}

.mainpage {
    /* background image that gets cropped if it's too big */
    /* vignette overlay */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/tempvid.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shadowtext {
    text-shadow: 2px 2px 4px #000000;
}

.fakebutton {
    pointer-events: none;
}

.blurple {
    background-color: #7289DA !important;
}

.blurple-text {
    color: #7289DA !important;
}
